* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}
a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'open_sanslight';
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#home{
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-right-radius: 80px;
	width: 95%;
}
#home section.overlay{
	background: rgba(0,0,0,.3);
	border-bottom-right-radius: 80px;
	padding-bottom: 10%;
}
#home .container{

}
#home .container header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}
#home .container header h1.left{

}
#home .container header h1.left a{
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}
#home .container header nav.right ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#home .container header nav.right ul li{
	margin-right: 35px;
}
#home .container header nav.right ul li:last-child{
	margin-right: 0;
}
#home .container header nav.right ul li a{
	color: #fff;
}
#home .container header nav.right ul li a.button{
	display: inline-block;
	padding: 8px 30px;
	border-radius: 5px;
	background-color: #f77e53;
}
#home .container .spotlight{
	color: #fff;
	margin-top: 15%;
	width: 50%;
}
#home .container .spotlight h1{
	font-weight: bold;
	font-size: 60px;

}
#home .container .spotlight p{
	font-size: 20px;
	font-family: 'open_sansregular';
	margin: 40px 0;
}
#home .container .spotlight a.button{
	display: inline-block;
	padding: 20px 40px;
	border-radius: 5px;
	background-color: #f77e53;
}
#home .container .spotlight a{
	font-size: 20px;
	color: #fff;
}
#services{
	padding: 7%;
}
#services div.top{

}
#services div.top span{
	color: #8b8b8b;
	font-size: 30px;
}
#services div.top h1{
	color: #545454;
    font-size: 45px;
    line-height: 1.3em;
    font-weight: bold;
    margin: 30px 0;
}
#services div.bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#services div.bottom div.item{
	width: 28%;
	margin-top: 30px;
	box-shadow: 0 19px 80px 0 rgba(0, 0, 0, 0.1), 0 0 90px rgba(0, 0, 0, 0.1);
	border-bottom-right-radius: 45px;
	padding: 4%;
	/*background: #fff;*/
}
#services div.bottom div.item span.count{
	color: #f77e53;
    font-size: 35px;
}
#services div.bottom div.item h3{
	font-size: 24px;
    margin: 20px 0;
}
#services div.bottom div.item p{
	color: #8b8b8b;
}
#about{
	padding-bottom: 7%;
}
#about .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#about .container div{

}
#about .container div.left{
	width: 45%;
}
#about .container div.left img{
	display: block;
	width: 100%;
	height: 100%;
	border-bottom-right-radius: 80px;
}
#about .container div.right{
    padding: 4% 0;
    width: 50%;
}
#about .container div.right span{
	color: #8b8b8b;
	font-size: 30px;
}
#about .container div.right h2{
	color: #545454;
    font-size: 50px;
    line-height: 1.3em;
    font-weight: bold;
    margin: 30px 0;

}
#about .container div.right p{
	color: #8b8b8b;
	width: 80%;
	margin-bottom: 20px;
}
#about .container div.right a.button{
	display: inline-block;
    padding: 25px 60px;
    border-radius: 5px;
    background-color: #f77e53;
    margin-top: 25px;
}
#about .container div.right a{
	color: #fff;
}
#state{
	padding-bottom: 7%;
}
#state .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
}
#state .container div{
	width: 48%;
}
#state .container div.left{

}
#state .container div.left h1{
	color: #545454;
    font-size: 45px;
    line-height: 1.3em;
    font-weight: bold;
    margin-bottom: 30px;
}
#state .container div.left p{
	color: #8b8b8b;
}
#state .container div.right{
	box-shadow: 0 19px 80px 0 rgba(0, 0, 0, 0.1), 0 0 90px rgba(0, 0, 0, 0.1);
	border-bottom-right-radius: 65px;
}
#state .container div.right ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#state .container div.right ul li{
	width: 40%;
	margin: 20px 0 40px 45px;
}
#state .container div.right ul li span.counter{
	color: #f77e53;
    display: block;
    font-size: 40px;
    font-weight: bold;
}
#state .container div.right ul li b{
    font-size: 23px;
   	color: #545454;
}
#state .container div.right ul li b.orange{
	color: #f77e53;
}
#reviews{
	padding-bottom: 7%;
}
#reviews div.top{
	text-align: center;
}
#reviews div.top span{
	color: #8b8b8b;
	font-size: 30px;
}
#reviews div.top h2{
	color: #545454;
    font-size: 50px;
    line-height: 1.3em;
    font-weight: bold;
    margin: 30px 0;
}
#reviews div.bottom{
	margin-top: 40px;
	color: #8b8b8b;
}
#reviews div.bottom ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#reviews div.bottom ul li{
	width: 49%;
	box-shadow: 0 19px 80px 0 rgba(0, 0, 0, 0.1), 0 0 90px rgba(0, 0, 0, 0.1);
	border-bottom-right-radius: 65px;
	padding: 4%;
}
#reviews div.bottom ul li img{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 30px;
}
#reviews div.bottom ul li h4{
	font-size: 27px;
	font-weight: bold;
}
#reviews div.bottom ul li span{
	margin: 16px 0;
	display: block;
	font-size: 22px;
	color: #545454;
}
#reviews div.bottom ul li p{

}

#blog{
	padding-bottom: 7%;
}
#blog .top{

}
#blog section.top h2{
	color: #545454;
    font-size: 50px;
    line-height: 1.3em;
    font-weight: bold;
    margin: 60px 0;
}
#blog section.bottom{

}
#blog section.bottom ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#blog section.bottom ul li{
	width: 30%;
}
#blog section.bottom ul li img{
	display: block;
	width: 100%;
	height: 280px;
}
#blog section.bottom ul li div.content{
	padding: 6%;
	box-shadow: 0 19px 80px 0 rgba(0, 0, 0, 0.1), 0 0 90px rgba(0, 0, 0, 0.1);
	border-bottom-right-radius: 65px;
	color: #8b8b8b;
}
#blog section.bottom ul li div.content h4{
	color: #000000;
	font-size: 26px;
}
#blog section.bottom ul li div.content p{
	font-size: 15px;
	margin: 20px 0;
}
#blog section.bottom ul li div.content div.bottom{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}
#blog section.bottom ul li div.content div.bottom span{

}
#blog section.bottom ul li div.content div.bottom b{

}
footer{
	width: 95%;
	border-top-right-radius: 65px;
	background: #f9f9fa;
	padding: 4% 0;
}
footer section.containar{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
footer section.containar div.items{
	color: #000;
}
footer section.containar div.items.first{
	width: 29%;
}
footer section.containar div.items.first h1{

}
footer section.containar div.items.first h1 a{
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #000;
}
footer section.containar div.items.first p{
	font-size: 14px;
	margin: 20px 0;
}
footer section.containar div.items.first div.social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 40%;
}
footer section.containar div.items.first div.social a{
	display: block;
	width: 32px;
	height: 32px;
}
footer section.containar div.items.first div.social a span{
	display: block;
	width: 100%;
	height: 100%;
}
footer section.containar div.items.first div.social a span.icon-twitter{
	background: url('../images/twitter.png');
}
footer section.containar div.items.first div.social a span.icon-facebook{
	background: url('../images/facebook.png');
}
footer section.containar div.items.first div.social a span.icon-linkedin{
	background: url('../images/linkedin.png');
}
footer section.containar div.items h3{
	margin-bottom: 25px;
}
footer section.containar div.items ul{

}
footer section.containar div.items ul li{
	margin-bottom: 25px;
}
footer section.containar div.items ul li:last-child{
	margin-bottom: 0;
}
footer section.containar div.items ul li a{
	font-size: 14px;
}