/*@font-face {
  font-family: 'women';
  src: url('../fonts/icon/women.eot?19369363');
  src: url('../fonts/icon/women.eot?19369363#iefix') format('embedded-opentype'),
       url('../fonts/icon/women.woff2?19369363') format('woff2'),
       url('../fonts/icon/women.woff?19369363') format('woff'),
       url('../fonts/icon/women.ttf?19369363') format('truetype'),
       url('../fonts/icon/women.svg?19369363#women') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "women";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer section.containar div.items.first div.social a span.icon-twitter:before { content: '\f099'; }
footer section.containar div.items.first div.social a span.icon-facebook:before { content: '\f09a'; } 
footer section.containar div.items.first div.social a span.icon-linkedin:before { content: '\f0e1'; } */